FLASK_APP=run.py
FLASK_DEBUG=1
DB_URI=postgresql://user:passwd@localhost:5432/orbisfile
UPLOAD_FOLDER=/home/storage/
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=passwd
POSTGRES_DB=orbisfile